.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

@media (max-width: 640.98px) {
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .parent {
        min-height: 100vh;
    }
}
