@inherits LayoutComponentBase

<div class="page">
    <div class="main d-flex align-items-center justify-content-center">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
