<div class="container h-100 d-flex flex-column justify-content-evenly align-items-center">
    <div class="pt-6 text-center">
        <h1 class="display-1">
            <span class="text-primary"><i class="fa-solid fa-dice-d20"></i></span>
            <span class=fw-bold>Roll</span><span class="fw-lighter">20</span> Aggregator
        </h1>
    </div>

    <div class="w-100 d-flex flex-column justify-content-center align-items-center align-content-center">
        <InputFile OnChange="UploadFileAndParse" class="form-control form-control-lg"/>

        <p class="mt-3">or...</p>

        <button type="button"
                class="btn btn-primary"
                disabled="@ParsingSession.IsLoading"
                @onclick="() => StartAggregator()">
                
            Show Me a Demo
        </button>
    </div>
    
    @if (ParsingSession.IsLoading) {
        <div class="w-100 text-center mt-3">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>

            <p class="mt-3 text-primary">This may take a while...</p>
        </div>
    }

    <div class="alert alert-secondary pb-6 text-dark">
        <h5 class="alert-heading">Instructions:</h5>

        <p>
            (Exact wording varies based on your browser.)
        </p>

        <ol>
            <li>Login to your Roll20 account and open your game</li>
            <li>Select 'Chat Archive' in the Content dropdown menu</li>
            <li>Press the 'Show on One Page' button</li>
            <li>Press F12 to open your browser's developer tools. Find the inspector tab, which should show you a list of HTML elements.</li>
            <li>Find the line following line (it should be about the 10th): <code>&lt;div id=&quot;textchat class=&quot;textchatcontainer&quot;&gt;...&lt;/div&gt;</code></li>
            <li>Right click this line and select Copy > Inner HTML. Save the contents to a text file - this is the file to upload.</li>
        </ol>

        <p>
            Because of the way Roll20 messages are marked up in HTML, parsing is not guaranteed to be 100% accurate.
        </p>
    </div>
</div>