@page "/"
@inject ParsingSession ChatLogState

<div class="container">
    <div class="row align-items-end" style="height: 30vh">
        <div class="col text-center">
            <h1>Hello, world!</h1>
        </div>
    </div>

    <div class="row align-items-center" style="height: 20vh">
        <div class="col text-center">
            <FileUpload />
        </div>
    </div>

    <div class="row align-items-start" style="height: 50vh">
        <div class="col text-center">
            <p>Display some instructions here...</p>
        </div>
    </div>
</div>