<div class="container h-100 d-flex flex-column justify-content-evenly align-items-center">
    <div class="pt-6 text-center">
        <h1 class="display-1">
            <span class="text-primary"><i class="fa-solid fa-dice-d20"></i></span>
            <span class=fw-bold>Roll</span><span class="fw-lighter">20</span> Aggregator
        </h1>
    </div>

    <div class="py-3">
        <FileUpload />
    </div>

    <div class="alert alert-secondary pb-6 text-dark">
        <h5 class="alert-heading">Instructions:</h5>

        <p>
            (Exact wording varies based on your browser.)
        </p>

        <ol>
            <li>Login to your Roll20 account and open your game</li>
            <li>Select 'Chat Archive' in the Content dropdown menu</li>
            <li>Press the 'Show on One Page' button</li>
            <li>Press F12 to open your browser's developer tools. Find the inspector tab, which should show you a list of HTML elements.</li>
            <li>Find the line following line (it should be about the 10th): <code>&lt;div id=&quot;textchat class=&quot;textchatcontainer&quot;&gt;...&lt;/div&gt;</code></li>
            <li>Right click this line and select Copy > Inner HTML. Save the contents to a text file - this is the file to upload.</li>
        </ol>

        <p>
            If you run into problems, you may have to clear your cache - try a hard refresh with Ctrl + F5 or Ctrl + Shift + R.
        </p>

        <p>
            These files are large - loading may take a while!
        </p>

        <p>
            Because of the way Roll20 messages are marked up in HTML, parsing is not guaranteed to be 100% accurate.
        </p>
    </div>
</div>