<div class="container py-3">
    @foreach (var roll in ParsingSession.ParseResults.AllRolls) {
        <p>
            <strong>@roll.RolledBy</strong> rolled a @roll.DieType: <strong>@roll.Value</strong>
        </p>
    }
</div>