@typeparam TProperty

<th @onclick="() => Parent.SortBy(PropName, PropertyGetter)">
    <div class="d-flex w-100">
        <div class="flex-grow-1">@ColumnName</div>
        <div class="@VisibilityClass"><i class=@Icon></i></div>
    </div>
</th>